Basics

In [1]:
# Use a hash to comment
# must put print() to return an output
print (2 + 2)

4

Variables and Types

In [2]:
# create a vairable using =
savings = 100
# Return the data type of a variable
type(savings)

int

In [11]:
# Data types can be int (whole number), float (decimal), boolean (true/false) or string (characters)
# Different types will behave differently
a = 1
b = 2
c = "x"
d = "y"
# Adding ints together does additon
print(a + b)
# Adding strings together concatenates them
print(c + d)

3
xy

In [10]:
# Can convert between different data types using:
int()
str()
float()
bool()
# Example
str_a = str(a)
print(type(str_a))

<class 'str'>

Python Lists

In [1]:
# Compound data type that groups items together
# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Create list areas
areas = [hall, kit, liv, bed, bath]

# Print areas
print(areas)

[11.25, 18.0, 20.0, 10.75, 9.5]

In [2]:
# Lists can be made up of different data types
areas_2 = ["hallway", hall, "kitchen", kit, "living room", liv, "bedroom", bed, "bathroom", bath]
print(areas_2)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]

In [3]:
# Can have a list within a list
house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv],
         ["bedroom", bed],
         ["bathroom", bath]]
print(house)
print(type(house))

[['hallway', 11.25], ['kitchen', 18.0], ['living room', 20.0], ['bedroom', 10.75], ['bathroom', 9.5]]
<class 'list'>

In [5]:
# Subetting from  a list can be done using Zero index (first entry in list is 0)
# Select the 2nd entry
print(areas[1])
# Can also use negative index (count backwars)
# Select last entry in list
print(areas[-1])

18.0
9.5

In [11]:
# Slice a list by selecting multiple values from it
# The start is inclusive and the end is exclusive
# areas [1:3], will select the 2nd and 3rd entry, not the 4th
downstairs = areas_2[0:6]
upstairs = areas_2[6:10]
print(downstairs)
print(upstairs)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0]
['bedroom', 10.75, 'bathroom', 9.5]

In [13]:
# Not including an end vwill continue to end
# Not including start will start from first
# Therefore the above can also be sliced as
downstairs_2 = areas_2[:6]
upstairs_2 = areas_2[6:]
print(downstairs_2)
print(upstairs_2)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0]
['bedroom', 10.75, 'bathroom', 9.5]

In [14]:
# Can subset a list that contains a list
# The below will return the last list, then the 2nd entry within that sub-list i.e bathroom area
house[-1][1]

9.5

In [15]:
# Replace list elements by subsetting list and assigning new values
print(areas_2)
# Changes the bathroom area to 10.5
areas_2[-1] = 10.5
# Change "living room" to "chill zone"
areas_2[4] = "chill zone"
print(areas_2)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]
['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5]

In [16]:
# Add elements to list using + operator
# Create a new list and add on poolhouse
areas_3 = areas_2 + ["poolhouse", 24.5]
# Create new list and add on garage
areas_4 = areas_3 + ["garage", 14.45]

print(areas_3)
print(areas_4)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5]
['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5, 'garage', 14.45]

In [21]:
# Can use the del to remove elements
# Be careful, as soon as you delete an element the index changes
# Exmaple trying to remove poolhouse from areas_4
areas_5 = list(areas_4)
print(areas_5)
del(areas_5[10]);del(areas_5[11]) #semicolon allows two commands on same line
print(areas_5)
# See output to see how this is wrong!

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5, 'garage', 14.45]
['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 24.5, 14.45]

In [28]:
# Correct Ways of doing above
areas_6 = list(areas_4)
print(areas_6)
del(areas_6[10:12])
print(areas_6)
# Or
areas_7= list(areas_4)
del(areas_7[10]);del(areas_7[10])
print(areas_7)
# Or
areas_8 = areas_4[:] #another way of assigning the list
del(areas_8[-4:-2])
print(areas_8)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5, 'garage', 14.45]
['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'garage', 14.45]
['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'garage', 14.45]
['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'garage', 14.45]

In [29]:
# If you dont assign lists this way and use =, both list refers to same orginal list
# SO if update one the other changes as well
x = [1,2,3]
y = x
del(y[1])
print(y)
print(x)

[1, 3]
[1, 3]